@charset "utf-8";
/* CSS Document */
#loadingBackground.loading {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 9997;
	background: rgba(0, 0, 0, 0.2);
}
#bowlG {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 225px;
	height: 225px;
	margin: auto;
	z-index: 1000;
}
#bowl_ringG {
	position: absolute;
	width: 225px;
	height: 225px;
	border: 19px solid rgb(0,0,0);
	border-radius: 225px;
	-o-border-radius: 225px;
	-ms-border-radius: 225px;
	-webkit-border-radius: 225px;
	-moz-border-radius: 225px;
}
.ball_holderG {
	position: absolute;
	width: 60px;
	height: 225px;
	left: 83px;
	top: 0px;
	animation-name: ball_moveG;
	-o-animation-name: ball_moveG;
	-ms-animation-name: ball_moveG;
	-webkit-animation-name: ball_moveG;
	-moz-animation-name: ball_moveG;
	animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	-ms-animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-o-animation-timing-function: linear;
	-ms-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}
.ballG {
	position: absolute;
	left: 0px;
	top: -53px;
	width: 90px;
	height: 90px;
	background: rgb(0,0,0);
	border-radius: 75px;
	-o-border-radius: 75px;
	-ms-border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
}
 @keyframes ball_moveG {
 0% {
 transform:rotate(0deg)
}
 100% {
 transform:rotate(360deg)
}
}
 @-o-keyframes ball_moveG {
 0% {
 -o-transform:rotate(0deg)
}
 100% {
 -o-transform:rotate(360deg)
}
}
 @-ms-keyframes ball_moveG {
 0% {
 -ms-transform:rotate(0deg)
}
 100% {
 -ms-transform:rotate(360deg)
}
}
 @-webkit-keyframes ball_moveG {
 0% {
 -webkit-transform:rotate(0deg)
}
 100% {
 -webkit-transform:rotate(360deg)
}
}
 @-moz-keyframes ball_moveG {
 0% {
 -moz-transform:rotate(0deg)
}
 100% {
 -moz-transform:rotate(360deg)
}
}
