body {    
	font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}
canvas {display:block;}
#mapid { 
	width:100%; 
	height: 600px;
}
#mapid.station { 
	height: 300px;
}
#mapOpacity {
	max-width:200px;
}
.controlHandle {
	padding:0.2em;
	font-size:80%;
    text-align: center;
	display:inline-block;
}
#month-handle {
	width: 6em !important;
	margin-left: -3em;
}
#mapDates {
	width:60%; 
	margin:0.5em;
	float:left;
}
span.label {
	margin:0.5em; 
	float:left;
	font-size:80%;
}
#mapKey span, #spiBlocks span {
	width:2em; 
	display:inline-block;
	font-size: 0.8em;
	text-align: center;
	padding:0.2em;
}
.highlighted {
	background-color:blue; 
	color:#fff;
}
table th, table td {vertical-align:top;}
.clear {
	clear:both;
}
.leftCol50, .rightCol50
{
	padding:0.5em; 
	box-sizing:border-box;
}
#tsHeader {display:none;}
.chartContainer {
	width:600px; 
	height:400px;
	clear:both;
	margin-bottom:1em;
}
@media screen and (min-width:50em)
{
	#stationDetails {padding-top:50px;}
	.leftCol50 {
		width:50%; 
		float:left;
	}
	.rightCol50 {
		width:50%; 
		float:right;
	}
}